<div class="big-card__container">
  <div class="big-card__picture">
    <a href="#">
      <img src="https://placehold.co/600x400/EEE/31343C" alt="Placeholder">
    </a>
  </div>
  <div class="big-card__title">
    <span>5 de outubro de 2023</span>
      <h2><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h2>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora ipsa nemo facilis repellat omnis voluptatem eligendi, at.
      </a>
    </p>
  </div>
</div>
