@media screen and (max-width: 1317px) {
  .small-card__container {
    width: 500px;
  }
}

@media screen and (max-width: 1144px) {
  .small-card__container {
    width: 550px;
  }
}

@media screen and (max-width: 425px) {
  .small-card__container {
    width: 375px
  }
  .small-card__container__content {
    margin: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .small-card__container {
    width: 359px
  }
}

@media screen and (max-width: 320px) {
  .small-card__container {
    width: 304px
  }
}
