.small-card__container {
  width: 700px;
  margin-bottom: 12px;
}

.small-card__container__content {
  display: flex;
  flex-direction: row;
}

.small-card__picture > a > img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;

}

.small-card__title {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.small-card__title > span {
  font-size: 12px;
  margin-bottom: 2px;
  color: #6d6d6d;
}

.small-card__container__separator {
  margin: 12px 0;
}

.small-card__container__separator > hr {
  border-color: #ffffff09;
}
