<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles__container">
  <div class="articles__main">
    <app-big-card
      pictureCover="https://edm.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_768/MjAxMTI1MzI5NTY0MDgzNzM0/fall_192354.jpg"
      cardTitle="ESPETÁCULOS MOVIDOS A TECNOLOGIA, CONJUNTOS DE CASAS DE ALTA ENERGIA E MUITO MAIS: O MELHOR DO FESTIVAL DE OUTONO DE 2023 DO CRSSD"
      cardDescription="O clássico de San Diego teve ótimas atuações durante o fim de semana."
      publishDate="29 DE SETEMBRO DE 2023"
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      pictureCover="https://edm.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cg_faces:center%2Cq_auto:good%2Cw_768/MjAxMDUxOTQ3NjMxOTc4MTQ2/photo-sep-18-2023-12-56-55-am.png"
      publishDate="26 DE SETEMBRO DE 2023"
      cardTitle="CONHEÇA EMPEROR, O PRODUTOR FACELESS QUE DESVENDA OS FIOS DO TECHNO UNDERGROUND"
      >
    </app-small-card>
    <app-small-card
      pictureCover="https://edm.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_xy_center%2Cq_auto:good%2Cw_768%2Cx_3730%2Cy_1113/MjAwNzM2ODEwODQ5MDE5MjY2/de6n6zqy.jpg"
      publishDate="12 DE SETEMBRO DE 2023"
      cardTitle="OUÇA A MÚSICA “MYSTICAL TECHNO” DE LA KAJOFOL NO NOVO EP"
      >
    </app-small-card>
    <app-small-card
      pictureCover="https://edm.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_xy_center%2Cq_auto:good%2Cw_768%2Cx_1301%2Cy_497/MjAwNDYyNDM0OTE2Mzc3OTc2/juanatkins.jpg"
      publishDate="31 DE AGOSTO DE 2023"
      cardTitle="A LENDA DO TECHNO JUAN ATKINS REVIVE O APELIDO DE CYBOTRON APÓS UM HIATO DE 28 ANOS"
      >
    </app-small-card>

  </div>
</div>
